@charset "utf-8";
@import url("https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&display=swap");

body {
  font-family: "Nanum Gothic", sans-serif;
}

body,
h1,
h2,
h3,
h4,
p,
ul,
li,
dl,
dt,
dd,
ol {
  margin: 0;
  padding: 0;
}
header,
footer,
div,
section,
nav,
aside {
  box-sizing: border-box;
}
ul li {
  list-style: none;
}
a {
  text-decoration: none;
  color: inherit;
}
img {
  display: block;
  border: none;
}
